@charset "UTF-8";

header{
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header nav{
    flex-flow: row wrap;
    justify-content: flex-end;

    flex: 0 1 auto;
}

header a{
    margin: 5px;
}